* {

    /* Familia de fuentes */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* Grosor de la fuente 200 */
    font-weight: 200; 
  }

  h1 {

    /* Alineación del texto */
    text-align: center;

    /* Grosor de la fuente negrita */ 
    font-weight: bold; 
  }
